.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:40px;
    justify-items: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
@media screen and (max-width:889px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }

}
@media screen and (max-width:600px){
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }

}