.about__heading{
    background-image: url("/images/aboutTitle.jpg");
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 270px;
    background-size: cover;
    margin-bottom: 20px;
}
